{% extends 'base.html' %}

{% block body %}

    <div class="total_count">全部商品<em class="countGood"></em>件</div>
    <ul class="cart_list_th clearfix">
        <li class="col01">商品名称</li>
        <li class="col02">商品单位</li>
        <li class="col03">商品价格</li>
        <li class="col04">数量</li>
        <li class="col05">小计</li>
        <li class="col06">操作</li>
    </ul>
    <form action="/df_order/" method="get">
    {% for cart in carts %}
        <ul class="cart_list_td clearfix" id="{{ cart.id }}">
            <li class="col01"><input type="checkbox" value="{{ cart.id }}" name="order_id" checked></li>
            <li class="col02"><img src="/static/{{ cart.goods.gpic }}"></li>
            <li class="col03">{{ cart.goods.gtitle }}<br><em>{{ cart.goods.gunit }}</em></li>
            <li class="col04">{{ cart.goods.gunit }}</li>
            <li class="col05">{{ cart.goods.gprice }}</li>
            <li class="col06">
                <div class="num_add">
                    <a href="javascript:;" class="add fl">+</a>
                    <input type="text" class="num_show fl" value="1">
                    <a href="javascript:;" class="minus fl">-</a>
                </div>
            </li>
            <li class="col07">{{ cart.good.gprice }}</li>
            <li class="col08"><a href="javascript:cart_del({{ cart.id }});">删除</a></li>
        </ul>
    {% endfor %}



    <ul class="settlements">
        <li class="col01"><input type="checkbox" name="" checked=""></li>
        <li class="col02">全选</li>
        <li class="col03">合计(不含运费)：<span>¥</span><em id="sumtotal"></em><br>共计<b class="countGood"></b>件商品</li>
        <li class="col04"><input type="submit" value="去提交"></li>
    </ul>
    </form>
{% endblock body %}
{% block script %}
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script>
        function calculate() {
            {#需要统计的值#}
            {#商品总价钱#}
            var sumTotal = 0;
            {#商品总数量#}
            var countGood = 0;
            $('.col07').each(function (index, element) {
                {#获取数量#}
                count = parseInt($(element).prev().find('input').val());
                {#获取价格#}
                price = parseFloat($(element).prev().prev().text());
                {#小计#}
                total = count * price;
                {#更新小计的显示内容#}
                $(element).text(total.toFixed(2));

                {#计算总价钱和总数量#}
                if ($(element).siblings('.col01').children('input').prop('checked')) {
                    sumTotal += total;
                    countGood++;
                }
            });
            {#更新显示的总价钱和总数量#}
            $('.countGood').text(countGood);
            $('#sumtotal').text(sumTotal.toFixed(2));
        }

        $(function () {
            calculate();
            {#勾选开关总开关#}
            $(".settlements").children(".col01").children("input").click(function () {
                if ($(this).prop("checked")) {
                    {#全部选中#}
                    $(".cart_list_td").children(".col01").children('input').prop("checked", true);
                } else {
                    {#全部取消#}
                    $(".cart_list_td").children(".col01").children('input').prop("checked", false);
                }
                {#重新计算总价#}
                calculate();
            });
            {#勾选单个开关#}
            $(".cart_list_td").children('.col01').children("input").click(function () {
                {#当前有多少个勾选框被选中#}
                selectedGood = $(".cart_list_td").children('.col01').children("input:checked").length;
                {#总共有多少个单独的勾选框#}
                countGood = $(".cart_list_td").children('.col01').children("input").length;
                {#如果全部选中 则勾选全选中的勾#}
                if (selectedGood == countGood) {
                    $(".settlements").children(".col01").children('input').prop("checked", true);
                } else {
                    $(".settlements").children(".col01").children('input').prop("checked", false);
                }
                {#重新计算总价#}
                calculate();
            });
            {#增加#}
            $(".add").click(function () {
                txt = $(this).next();
                count = parseInt(txt.val());
                if (count < 99) {
                    txt.val(count + 1);
                }
                calculate();
                {#数量同步到数据库中#}
                count = txt.val();
                cart_id = $(this).parents(".cart_list_td").attr("id");
                url = "/df_cart/edit" + cart_id + "_" + count;
                $.get(url, function (data) {
                    if (data.ok == 1) {
                        alert("发生了错误");
                    }
                });

            });
            {#减少#}
            $(".minus").click(function () {
                txt = $(this).prev();
                count = parseInt(txt.val());
                if (count > 1) {
                    txt.val(count - 1);
                }
                calculate();
                {#数量同步到数据库中#}
                count = txt.val();
                cart_id = $(this).parents(".cart_list_td").attr("id");
                url = "/df_cart/edit" + cart_id + "_" + count;
                $.get(url, function (data) {
                    if (data.ok == 1) {
                        alert("发生了错误");
                    }
                });

            });
            {#直接修改数量#}
            $(".num_show").blur(function () {
                txt = $(this);
                count = parseInt(txt.val());
                if (count < 1) {
                    txt.val(1);
                }
                if (count > 99) {
                    txt.val(99);
                }
                calculate();
                {#数量同步到数据库中#}
                count = txt.val();
                cart_id = $(this).parents(".cart_list_td").attr("id");
                url = "/df_cart/edit" + cart_id + "_" + count
                $.get(url, function (data) {
                    if (data.ok == 1) {
                        alert("发生了错误");
                    }
                });

            });


        });

        function cart_del(cart_id) {
            ret = confirm("确定要删除吗？");
            if (ret) {
                url = "/df_cart/delete" + cart_id;
                $.get(url, function (data) {
                    if (data.ok == 0) {
                        $("ul").remove("#" + cart_id);
                        calculate();
                    }
                });
            }

        }
    </script>
{% endblock script %}