<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>古董网站-{{ title }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
    {% block head %}
    {% endblock head %}
</head>
<body>
    {% block header %}
    {% endblock header %}
    {% block body %}
    {% endblock body %}
    {% block foot %}
	<div class="footer no-mp">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>
		<p>CopyRight © 2019 古董网站的设计与实现 All Rights Reserved</p>
		<p>电话：010-****888    贺州市八步区*******10号</p>
	</div>
    {% endblock foot %}
    {% block script %}
    {% endblock script %}
</body>
</html>